.container {
    text-align: center;
    margin-top: 50px;
}

.botao-principal {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.botao-secundario {
    background-color: #6c757d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.container-table {
    
}

.tabela {
  border: #007bff solid 5px;
  text-align: center;
  margin-left: 400px;

  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}
.tabela th, .tabela td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.tabela th {
  background-color: #f2f2f2;
}